<!DOCTYPE html>
<html>
<head>
  <title>アツフク</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <% if yield(:header).empty? %>
        <%= render 'header' %>
      <% else %>
        <%= yield :header %>
      <% end %>
    </header>
    <article>
      <%= yield %>
    </article>
    <footer>
      <% if yield(:footer).empty? %>
        <%= render 'footer' %>
      <% else %>
        <%= yield :footer %>
      <% end %>
    </footer>
  </div>
</body>
</html>